body {
	background: #efefef;
}

nav {
	background: #333;
}

nav > img {
	float: left;
	margin: 15px 0 15px 40px;
}

nav > ul {
	float: right;
}

nav > ul > li {
	display: inline-block;
	line-height: 34px;
	margin: 15px 40px 15px 0;
}

a {
	text-decoration: none;
}

article,
aside {
	background: white;
	padding: 30px 20px;
	box-shadow: 2px 2px 2px gray;
}

article {margin: 20px 20px 0 20px;}

article > header > h2 {line-height: 50px;}

article > header > h3 {
	line-height: 40px;
	color: gray;
}

article > header > h4 {
	line-height: 30px;
	color: gray;
	font-weight: normal;
}

article > p {
	text-indent: 2em;
	line-height: 2em;
}

article > ul {
	list-style-type: none;
	margin-left: 2em;
	line-height: 2em;
}

img {margin: 10px 0 10px 0;}

figure {
	width: 200px;
	display: block;
	border: 1px solid #ddd;
	text-align: center;
	margin: 10px 40px;
}

figure > img {
	width: 80%;
}

article > ol {
	margin-left: 3.5em;
	line-height: 2em;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #CCC;
}

th {
	background: black;
	color: white;
	text-align: left;
	padding: 5px;
}

table td {
	padding: 5px;
	border: 1px solid #CCC;
}

table > tfoot {
	background: #CCC;
	font-weight: bold;
}

aside {margin: 40px 20px 20px 20px;}

aside > header > h3 {
	border-left: 2px solid #CCC;
	padding-left: 0.5em;
	line-height: 40px;
}

aside div {
	margin: 10px;
	vertical-align: center;
}

aside button {
	background: blue;
	width: 100%;
	font-size: 20px;
	color: white;
	padding: 10px 0;
	border: 0;
	border-radius: 10px;
}

div > label, div > span{
	display: inline-block;
	width: 30%;
	text-align: right;
	padding-right: 10px;
}

form > p {
	margin-left: 30%;
	padding-left: 15px;
	color: #AAA;
}


.diff {
	width: auto;
	margin: 0 5px;
}

#description {vertical-align: top;}

form textarea {
	width: 60%;
}

footer {
	height: 70px;
	width: 100%;
	background: black;
	padding-top: 25px;
}

footer > p {
	color: white;
	text-align: center;
}